// kludge : set jsoneditor to use bootstrap then
// these styles will make it look a tiny bit less bad
// with materializecss

#exBuilder
  // h3:first-of-type
  //   display none
  h3, label
    font-size 18px
    font-weight normal
    color black
    padding-top 1em
  .errormsg 
    color red
  .table-bordered
    margin-left 2em
    // width 90%
  select
    display block
