template(name='next_exercise')
  if Template.subscriptionsReady
    if isNextExercise
      .row: .col.s12: .right
        p.huge-glow-20
          p.next-exercise.btn-flat.waves-effect(style="color:white;") next exercise >
  
  #no_next_modal.modal
    .modal-content
      h4 The end
      p You have reached the end of the #{variant} exercises for #{courseName}.
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-grey.btn-flat ok