template(name='next_exercise')
  if Template.subscriptionsReady
    if isNextExercise
      .row: .col.s12: .right
        p.huge-glow-20
          p.next-exercise.btn-flat.waves-effect(style="color:white;") next exercise >
  
