head
  title love-logic
  meta( name="viewport", content="width=device-width, initial-scale=1.0" )
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")

  
body

template(name='ApplicationLayout')
  nav.grey(role='navigation')
    .nav-wrapper.container
      +atNavButton
      span #{currentUserEmail}
      a.brand-logo.right.huge-glow-40(href='/') love*logic
  
  .section
    .content
      +yield

  footer
    +yield(region='footer')

template(name='hello')
  section: .container
    p 
      a(href="{{pathFor 'courses'}}") Select Your Course
    p Your current subscriptions ... (TODO)  
  
template(name='loading')
  section: .container
    p Loading ...