//- TODO Update so that it uses the proper template to display each answer.

template(name='mySubmittedExercises')
  h2 Submitted Exercises
  each exercises
    section
      div
        h4: a(href="#{exerciseId}") #{exerciseLink}
        span ---  #{date}
        +Template.dynamic(template=displayAnswer)
      .divider(style="margin-top:2em;")