template(name='myTutors')
  h2 My Tutors
  p The following tutors currently list you as instructor:
  .tutorList
    each tutors
      h5
        span.tutorName #{profile.name} 
        span.tutorEmail &lt;#{email}&gt;
      ul.collection
        li.collection-item
          a(href="/myTutees?tutor=#{_id}") list tutees
        li.collection-item
          a(href="/myTuteesProgress?tutor=#{_id}") summary of tutees’ progress
      
