template(name="oldBrowserSorry")
  h4 You have an old browser.
  p.red-text Sorry, it may not work with this website.
  
  ul
    li It might seem to work.
    li But you could find that random things go wrong.
    li For example, your correct answers may be marked incorrect.
    li Or the submit buttons may not work after you’ve answered an exercise.
    li So please consider 
      a(href="https://browser-update.org/update.html") updating the browser you use
      span .
    
  h4 Ignore the warning
  a#ignoreWarning.btn.waves-effect.grey.darken-1 Ignore and continue
  