template(name="termsOfUse")
  h4 Terms of use
  p.red-text All your datas are belong to us.
  
  ul
    li This application stores data on your interactions with it. You must agree that such data may be used for any purpose at all.
    li This application is not secure. You must regard all your interactions with this application as public.
    li This application is experimental. It may become overwhelmed, stop working or be removed at any time. It comes with no warranty whatsover.