template(name="termsOfUse")
  h4 Terms of use
  p.red-text All your datas are belong to us.
  
  ul
    li This application stores data on your interactions with it. You must agree that such data may be used for any purpose at all.
    li This application is not fully secure. You must regard all your interactions with this application as potentially public.
    li This application comes with no warranty whatsover.
    //- li No technical support will be provided to individuals.  This application may not work on your systems. You may hate it. Or you may not be able to figure it out.  You must agree that in any such case you will not contact the creators of this application. Instead you will sharpen a pencil and do your work on paper like in the olden time. Without complaining.  After all, in the olden time we were lucky to have a pencil at all. And we had to sharpen it on our teeth.  If we were lucky enough to have teeth, which mostly we weren’t.
    //- li Source code is avaliable on the place where nearly all the source codes live now. Pull requests welcome.