template(name='create_ex')
  +topic_header

  +create_ex_display_question

  h4 ... by creating a possible situation.

  +possible_world

  +submitted_answer

  +help_with_this_exercise

  .right
    +ask_for_help
    +submit_btn
        
  +next_exercise

template(name="create_ex_display_question")
  h2 Create a possible situation
  
  h4 Make these sentences true ...
  ul.collection
    each sentences
      li.collection-item 
        span #{theSentence}
        span ---
        span.sentenceIsTrue.red-text F


template(name="create_ex_display_answer")
  p.monospace.grey.lighten-2 
    p TODO!
    