template(name='proof_ex')
  .section: .container
    h2 Write a proof
    .row
      .col.s6
        h4 premises (#{premises.length}) 
        ul.collection
          each premises
            li.collection-item #{this}
      .col.s6
        h4 conclusion
        ul.collection
          li.collection-item #{conclusion}
    
    textarea#editor #{textareaText}
      


    p#feedback .
      i.material-icons error_outline
    
    
    .right
      button#checkLine.btn.waves-effect.grey check line
      button#checkProof.btn.waves-effect.grey check all
      button#requestHelp.btn.waves-effect.grey request help
       i.material-icons.right live_help
      button#submit.btn.waves-effect.grey(type='submit') submit
       i.material-icons.right send