template(name='tt_ex')
  +topic_header

  +tt_ex_display_question

  +truth_table

  +submitted_answer

  +help_with_this_exercise

  .right
    +ask_for_help
    +submit_btn
        
  +next_exercise

template(name="tt_ex_display_question")
  h4 Construct truth tables for these sentences
  ul.collection
    each sentences
      li.collection-item 
        span.theSentence #{idx}. #{theSentence}
  


template(name="tt_ex_display_answer")
  +truth_table_static
  