//- 
template(name="possible_world")
  .grey(style='padding:10px')
    .grid-stack
            
  p#feedback .
    i.material-icons error_outline

  .row: .col.s12
    button#addElement.btn.waves-effect.grey add element
      