@import nib

font_size = 19pt
background_color = white
text_color = black


.autocomplete-option:hover
  background-color: black


.face
  transform rotate(90deg)
  -webkit-transform-origin-x 50%
  -webkit-transform-origin-y 50%
  -moz-transform-origin-x 50%
  -moz-transform-origin-y 50%
  -ms-transform-origin-x 50%
  -ms-transform-origin-y 50%
  transform-origin-x 50%
  transform-origin-y 50%
  margin-top 1em
  font-size: 30px
  font-family: "Lato"

.glow-border, .grid-stack-item-content
  box-shadow 0 0 40px #FFF, 0 0 4px #FFF

.face 
  text-shadow 0 0 2px white
  -webkit-text-shadow 0 0 2px white
  -moz-text-shadow 0 0 2px white

.monospace
  font-family monospace

/**
 * huge-glow classes
 */
make-huge-glow(class-name, size)
  {class-name}
    font-size: size
    color: background_color
    text-shadow: 0 0 (size/2) text_color, 0 0 (size/4) text_color, 1px 1px 2px text_color, 1px -1px 2px text_color, -1px 1px 2px text_color, -1px -1px 2px text_color
    -webkit-text-shadow: 0 0 (size/2) text_color, 0 0 (size/4) text_color, 1px 1px 2px text_color, 1px -1px 2px text_color, -1px 1px 2px text_color, -1px -1px 2px text_color
    -moz-text-shadow: 0 0 (size/2) text_color, 0 0 (size/4) text_color, 1px 1px 2px text_color, 1px -1px 2px text_color, -1px 1px 2px text_color, -1px -1px 2px text_color

make-huge-glow('.huge-glow', 90pt)
make-huge-glow('.huge-glow-20', 20pt)
make-huge-glow('.huge-glow-30', 30pt)
make-huge-glow('.huge-glow-40', 40pt)
make-huge-glow('.huge-glow-50', 50pt)
make-huge-glow('.huge-glow-60', 60pt)
make-huge-glow('.huge-glow-70', 70pt)
make-huge-glow('.huge-glow-80', 80pt)
make-huge-glow('.huge-glow-90', 90pt)
make-huge-glow('.huge-glow-120', 120pt)
make-huge-glow('.huge-glow-150', 150pt)
make-huge-glow('.huge-glow-180', 180pt)
make-huge-glow('.huge-glow-210', 210pt)
make-huge-glow('.huge-glow-240', 240pt)
make-huge-glow('.huge-glow-270', 270pt)
make-huge-glow('.huge-glow-300', 300pt)




// spinner from http://tobiasahlin.com/spinkit/
.spinner 
  width: 40px
  height: 40px

  position: relative
  margin: 100px auto


.double-bounce1, .double-bounce2 
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;

.double-bounce2 
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;


@-webkit-keyframes sk-bounce 
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }


@keyframes sk-bounce 
  0%, 100% 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  50% 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);

.spinner
  margin 100px auto
  width 50px
  height 40px
  text-align center
  font-size 10px
  & > div
    background-color #333
    height 100%
    width 6px
    display inline-block
    -webkit-animation sk-stretchdelay 1.2s infinite ease-in-out
    animation sk-stretchdelay 1.2s infinite ease-in-out
  .rect2
    -webkit-animation-delay -1.1s
    animation-delay -1.1s
  .rect3
    -webkit-animation-delay -1.0s
    animation-delay -1.0s
  .rect4
    -webkit-animation-delay -0.9s
    animation-delay -0.9s
  .rect5
    -webkit-animation-delay -0.8s
    animation-delay -0.8s

@-webkit-keyframes sk-stretchdelay
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }

@keyframes sk-stretchdelay 
  0%, 40%, 100% 
    transform: scaleY(0.4)
    -webkit-transform: scaleY(0.4)
  20% 
    transform: scaleY(1.0)
    -webkit-transform: scaleY(1.0)


# ========
# for typeahead

.tt-query
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color #999

.tt-menu
  width 422px
  margin-top 4px
  padding 4px 0
  background-color #fff
  border 1px solid #ccc
  border 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px
  -webkit-box-shadow 0 5px 10px rgba(0,0,0,.2)
  -moz-box-shadow 0 5px 10px rgba(0,0,0,.2)
  box-shadow 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding 3px 20px
  line-height 24px
  p
    margin 0

.tt-suggestion.tt-cursor,.tt-suggestion:hover
  color #fff
  background-color #0097cf


.truthtable
  th, td
    padding : 0

.scrollable-dropdown-menu .tt-menu 
  max-height 200px
  overflow-y auto

.scrollable-dropdown-menu .twitter-typeahead
  width 100%
  